<% title("Home Page") %>

<div id="search_options">

<div id="map-container">
	<div id="map-canvas"></div>

  <div id="geocoding_fields">

    <%= form_for([@user, @user.locations.build]) do |f| %>
        <%= f.text_field :address, :placeholder => "Enter a location!", class: 'search_box' %>


  </div>
</div>

<div class="field">

  <%= collection_check_boxes :user, :placetype_ids, Placetype.all, :id, :category do |b| %>
    <div class="collection-check-box">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
</div>

<%= "User ID is :#{@user.id}" %>

<% end %>
